

<div class="row-fluid">
	
	<div class="span12">
		<h4>Businesses</h4>
		
		<table class="table table-striped table-condensed table-hover">
		    <thead>
		        <th>Stars</th>  
		        <th>#</th>	
		        <th>Name</th>
		        <th>City</th>
		        <th>Categories</th>
		    </thead>
		    <tbody>
		        <tr id="{{business.bus_business_id}}" ng-repeat="business in businessList">
		            <td>{{business.bus_stars}}</td>
		            <td>{{business.bus_review_count}}</td>
		            <td><a href="#/review/{{business.bus_business_id}}">{{business.bus_name}}</a></td>
		            <td>{{business.bus_city}}</td>
		            <td>{{business.bus_categories.join()}}</td>
		        </tr>		        
		    </tbody>
		</table>
	</div>
</div>