

<form class="form-search">
    <div class="controls">
        <select ng-model="snapshot"
			ng-options="value.snapshot_date as value.snapshot_date for value in snapshotList">
			<option></option>
		</select>
        <button ng-click="search()" type="submit" class="btn">Search</button>
    </div>    
</form>
<hr/>


<div class="row-fluid">
	
	<div class="span7">
	<h4>Weekly Bulk Comparison</h4>
	<p><smal>Comparison of the MySite Listings in each component versus the Bulk FastXml Feed.</smal></p>
	<table class="table table-striped table-condensed table-hover">
	    <thead>
	        <th>Component</th>
	        <th>Number of Listings</th>
	        <th>Excess Listings</th>
	        <th>Missing in Component</th>        
	    </thead>
	    <tbody>
	        <tr ng-repeat="row in msOverview">
	            <td>{{row.component}}</td>
	            <td class="numericValue">{{row.n_listings}}</td>
	            <td class="numericValue">{{row.missing_in_bulk}}</td>
	            <td class="numericValue">{{row.missing_in_component}}</td>                        
	        </tr>
	    </tbody>
	</table>
	</div>
</div>

<hr/>

<div class="row-fluid">
	<div class="span7">
	
	<h4>Weekly Component Comparison</h4>
	<p>Differences in MySite Listings between successive components in the Feeding Workflow.</p>
	<table class="table table-striped table-condensed table-hover">
	    <thead>
	        <th>Issue Class</th>
	        <th>Number of Listings</th>	                
	    </thead>
	    <tbody> 
	        <tr ng-repeat="row in msDeltaAgg">
	            <td>{{issueClass[row.issue_class]}}</td> 	           
	            <td class="numericValue">{{row.n}}</td>	                                  
	        </tr>
	    </tbody> 
	</table>
	</div>
</div>

<hr/>


<div class="row-fluid">
	<div class="span7">
	<h4>Weekly MySite Errors</h4>
	<p>Number of mysite listings per MySite Error Class, based on snapshot taken for weekly DB comparison.</p>
	
	<table class="table table-striped table-condensed table-hover">
	    <thead>
	        <th>Error Type</th>
	        <th>Number of Listings</th>	                
	    </thead>
	    <tbody> 
	        <tr ng-repeat="row in msErrorAgg">
	            <td>{{row.issue_class}}</td> 	           
	            <td class="numericValue">{{row.n}}</td>	                                  
	        </tr>
	    </tbody> 
	</table>
	</div>
</div>
