<div class="row-fluid">
	
	<div class="span8">		
		<h4 class="text-info">Business</h4>	
		<dl class="dl-horizontal" ng-model="reviewList">
		   <dt>Name</dt><dd>{{reviewList[0].bus_name}}</dd>
		   <dt>Stars</dt><dd>{{reviewList[0].bus_stars}}</dd>
		   <dt>Categories</dt>
		   <dd>
			   	<ul>
		   			<li ng-repeat="cat in reviewList[0].bus_categories">
		   				{{cat}}
		   			</li>
		   		</ul>	   
		   </dd> 
		   <dt>Open</dt><dd>{{reviewList[0].bus_open}}</dd>
		   <dt>City</dt><dd>{{reviewList[0].bus_city}}</dd>
		   <dt>Neighborhoods</dt><dd>{{reviewList[0].bus_neighborhoods}}</dd>		   
		</dl>
	</div>
	
	<div class="span5">
		<div id="chart">
			<svg></svg>
		</div>		
	</div>
</div>
<style>
	#chart svg {
		height: 350px;
	}
</style>
<div class="row-fluid">
	
	<div class="span12">		
		<h4 class="text-info">Reviews</h4>
		
		<table class="table table-striped table-condensed table-hover">
		    <thead>
		        <th>Stars</th>
		        <th>Useful</th>
		        <th>Funny</th>
		        <th>Cool</th>
		        <th>Review</th>		
		        <th>topics</th>        		             
		    </thead>
		    <tbody>
		        <tr id="{{review.review_id}}" ng-repeat="review in reviewList">
		            <td>{{review.stars}}</td>
		            <td>{{review.votes.useful}}</td>
		            <td>{{review.votes.funny}}</td>
		            <td>{{review.votes.cool}}</td>		            
		            <td><div ng-bind-html-unsafe="review.text"></div></td>	
		            <td>
		            	<ul>
		            		<li ng-repeat="topic in getTopTopics(review)">{{topic}}</li>
		            	</ul>
		            </td>	                                   
		        </tr>
		    </tbody>
		</table>
	</div>
</div>