

<!-- <div class="span3" nmi-table query="connectionQuery2" connection="reportDB" columns="name, connection_type"></div> -->
Test: fr_BE_YP_PAID_1530887_0000_1628633_8260_2012016078711008
<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="listingId" class="input-medium search-query" placeholder="listingId">
        <button ng-click="searchListing()" type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
    <button ng-click="listingId=''; reset()" ng-disabled="!listingId" type="submit" class="btn">Reset</button>
</form>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Component</th>
        <th>Status</th>
        <th>Date Updated</th>
        <th>MySite Id</th>
    </thead>
    <tbody>
        <tr ng-repeat="row in rowList">
            <td>{{row.src}}</td>
            <td>{{row.status}}</td>
            <td>{{row.date_updated}}</td>
            <td>{{row.mysite_id}}</td>            
        </tr>
    </tbody>
</table>

<!--<hr/>
<h4>processedyellowlisting</h4>
<div 
	nmi-table query="cb_processed" 
	connection="crawler02-test" 
	columns="status, date_updated, date_created, date_lastindexed"
	params="listingid:{{listingId}}">
</div>

 -->